.searchbox {
    display: none;
    perspective: 50em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.7);
    transform-origin: 0%;
    perspective-origin: top center;
}

.searchbox.show {
    display: block;
}

.searchbox, .searchbox .searchbox-container {
    position: fixed;
}

.searchbox .searchbox-container {
    overflow: hidden;
}

.searchbox .searchbox-selectable {
    cursor: pointer;
}

.searchbox .searchbox-input-wrapper {
    position: relative;
}

.searchbox .searchbox-input-wrapper .searchbox-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    box-shadow: none;
    font-weight: 200;
    border-radius: 0;
    background: #fff;
    line-height: 20px;
    box-sizing: border-box;
    padding: 12px 28px 12px 20px;
    border-bottom: 1px solid #e2e2e2;
}

.searchbox .searchbox-input-wrapper .searchbox-close {
    top: 50%;
    right: 6px;
    width: 20px;
    height: 20px;
    font-size: 16px;
    margin-top: -11px;
    position: absolute;
    text-align: center;
    display: inline-block;
}

.searchbox .searchbox-input-wrapper .searchbox-close:hover {
    color: #3273dc;
}

.searchbox .searchbox-result-wrapper {
    left: 0;
    right: 0;
    top: 45px;
    bottom: 0;
    overflow-y: auto;
    position: absolute;
}

.searchbox .searchbox-container {
    left: 50%;
    top: 100px;
    width: 540px;
    z-index: 101;
    bottom: 100px;
    margin-left: -270px;
    box-sizing: border-box;
}

@media screen and (max-width: 559px), screen and (max-height: 479px) {
    .searchbox .searchbox-container {
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        background: #f7f7f7;
    }
}

.mbr-hero {
  color: #fff;
  position: relative;
}
.mbr-hero__text {
  font-size: 25px;
  font-weight: bold;
  left: -2px;
  letter-spacing: 2px;
  line-height: 27px;
  margin: -18px 0 1px 0;
  padding-bottom: 20px;
  position: relative;
  top: 8px;

}
.mbr-hero__subtext {
  font-size: 15px;
  line-height: 18px;
  margin: -32px 0 3px 0;
  padding: 0 0 20px 0;
  position: relative;
  top: 6px;
}

.mbr-buttons {
  margin: -26px 0 13px 0;
  position: relative;
  text-align: left;
  top: 26px;
}
.mbr-buttons__btn,
.mbr-buttons__link {
  margin: 0 10px 13px 0;
}
.mbr-buttons__btn,
.mbr-buttons__link,
.mbr-buttons__btn:hover,
.mbr-buttons__link:hover {
  text-decoration: none;
}
.mbr-buttons--no-offset {
  margin-top: 0;
  top: 0;
}
.mbr-buttons--only-links {
  left: -20px;
}
.mbr-buttons--center {
  left: 5px;
  text-align: center;
}
.mbr-buttons--center.mbr-buttons--only-links {
  left: 0;
}
.mbr-buttons--right {
  text-align: right;
}
.mbr-buttons--right .mbr-buttons__btn,
.mbr-buttons--right .mbr-buttons__link {
  margin: 0 0 13px 10px;
}
.mbr-buttons--right.mbr-buttons--only-links {
  left: 20px;
}
.mbr-buttons--activated {
  left: 5px;
  text-align: center;
}
.mbr-buttons--activated .mbr-buttons__btn,
.mbr-buttons--activated .mbr-buttons__link {
  margin-left: 0;
  margin-right: 0;
}
.mbr-buttons--activated .mbr-buttons__link {
  font-size: 25px;
  padding: 10px 30px 2px;
}
.mbr-buttons--activated .mbr-buttons__btn {
  font-size: 15px;
  margin-top: 9px;
  padding: 15px 30px;
}
.mbr-buttons--freeze.mbr-buttons--activated .mbr-buttons__link {
  font-size: 25px !important;
}
.mbr-buttons--freeze.mbr-buttons--activated .mbr-buttons__link,
.mbr-buttons--freeze.mbr-buttons--activated .mbr-buttons__link:hover {
  color: #fff !important;
}
.mbr-buttons--freeze.mbr-buttons--activated .mbr-buttons__btn {
  font-size: 15px !important;
}
@media (max-width: 991px) {
  .mbr-buttons--active {
    left: 5px;
    text-align: center;
  }
  .mbr-buttons--active .mbr-buttons__btn,
  .mbr-buttons--active .mbr-buttons__link {
    margin-left: 0;
    margin-right: 0;
  }
  .mbr-buttons--active .mbr-buttons__link {
    font-size: 25px;
    padding: 10px 30px 2px;
  }
  .mbr-buttons--active .mbr-buttons__btn {
    font-size: 15px;
    margin-top: 9px;
    padding: 15px 30px;
  }
  .mbr-buttons--freeze.mbr-buttons--active .mbr-buttons__link {
    font-size: 25px !important;
  }
  .mbr-buttons--freeze.mbr-buttons--active .mbr-buttons__link,
  .mbr-buttons--freeze.mbr-buttons--active .mbr-buttons__link:hover {
    color: #fff !important;
  }
  .mbr-buttons--freeze.mbr-buttons--active .mbr-buttons__btn {
    font-size: 15px !important;
  }
}
@media (max-width: 767px) {
  .mbr-buttons--auto-align {
    left: 5px;
    text-align: center;
  }
  .mbr-buttons--auto-align.mbr-buttons--only-links {
    left: 0;
  }
}
@media (max-width: 530px) {
  .mbr-buttons {
    left: 0;
  }
  .mbr-buttons__btn,
  .mbr-buttons__link,
  .mbr-buttons--right .mbr-buttons__btn,
  .mbr-buttons--right .mbr-buttons__link {
    display: inline-block;
    margin: 0 0 13px 0;
    text-align: center;
    width: 100%;
  }
  .mbr-buttons--activated .mbr-buttons__btn,
  .mbr-buttons--activated .mbr-buttons__link,
  .mbr-buttons--active .mbr-buttons__btn,
  .mbr-buttons--active .mbr-buttons__link {
    width: auto;
  }
  .mbr-buttons--activated .mbr-buttons__btn,
  .mbr-buttons--active .mbr-buttons__btn {
    margin-top: 9px;
  }
}
